<img class="bg", src="/modules/core/img/draftslide.jpg">
<!-- TOP HEADER -->
<div class="row">
    <div class="col-md-8 col-md-offset-2", id="wrap">
        <div class="col-lg-3 pull-right hidden-xs", id="nestedHours">
            <h4>Open Daily</h4>
            <p>11 am - 2 am</p>
            <a href="https://www.google.com/maps/place/Albert's+Lounge/@40.397765,-80.036013,17z/data=!3m1!4b1!4m2!3m1!1s0x8834f719eee4d503:0x1bb82d2d1982dc4e", target="_blank", title="Google Map">
            <i class="fa fa-map-marker"></i> MAP</a>
        </div>
        <h1 class="mainTitle">Albert's Lounge&nbsp;
            <a href="https://www.facebook.com/alberts.dormont" target="_blank"><i class="fa fa-facebook">&nbsp;</i></a>&nbsp;
            <a href="https://twitter.com/AlbertsLounge"><i class="fa fa-twitter" target="_blank"></i></a>
        </h1>
        <address>2856 Broadway Avenue, Pittsburgh, PA 15216&nbsp;&nbsp;
            <a href="tel:+14125318774"><i class="fa fa-phone-square">&nbsp; (412) 531-8774</i></a>
        </address>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=albslou-20&o=1&p=21&l=ur1&category=kitchen&banner=16YJ90NQST9G4GR8SDG2&f=ifr" width="auto" height="110" scrolling="no" marginwidth="0" frameborder="0"></iframe>
    </div>
</div>
<!-- MAIN CONTENT -->
<div class="row">
    <div class="col-xs-3 col-md-2 hidden-xs hidden-sm" id="leftLarge">
        <div class="row">
            <div class="col-md-12", id="leftBanner1">
                <h4>Monday's</h4>
                <h5>$3 Magic Hat drafts</h5>
            </div>
            <br>
            <div class="col-md-12", id="leftBanner1">
                <h4>Tuesday's</h4>
                <h5>Ladies Night [9pm-12a]</h5>
            </div>
            <br>
            <div class="col-md-12", id="leftBanner1">
                <h4>Wednesday's</h4>
                <h5>1/2 off well drinks!
                <br>$1 off Penn Drafts</h5>
            </div>
            <br>
            <div class="col-md-12", id="leftBanner1">
                <h4>Thursday's</h4>
                <h5>$4 Yeungling CANS [24oz]</h5>
            </div>
            <br>
            <div class="col-md-12", id="rightBanner1">
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=albslou-20&marketplace=amazon&region=US&placement=B00BQ77PSG&asins=B00BQ77PSG&linkId=&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066C0&bg_color=000000"></iframe>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8", ng-controller="CarouselDemoCtrl" id="picsCarousel">
        <carousel id="carousel" interval="myInterval">
            <slide id="slide" ng-repeat="slide in slides" active="slide.active">
                <img id="imgSlides" ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption"></div>
            </slide>
        </carousel>
    </div>
    <div class="col-xs-12 col-md-2 visible-sm visible-xs" id="smxsBanner">
        <div class="row">
            <div class="col-md-12", id="leftBanner1">
                <h4>Monday's</h4>
                <h5>$3 Magic Hat drafts</h5>
            </div>
            <div class="col-md-12", id="leftBanner2">
                <h4>Tuesday's</h4>
                <h5>Ladies Night [9pm-12a]</h5>
            </div>
            <div class="col-md-12", id="leftBanner3">
                <h4>Wednesdays's</h4>
                <h5>1/2 off well drinks!
                <br>$1 off Penn Drafts</h5>
            </div>
            <div class="col-md-12", id="leftBanner3">
                <h4>Thursdays's</h4>
                <h5>$4 Yeungling CANS [24oz]</h5>
            </div>
            <br>
        </div>
    </div>
    <div class="col-xs-12 col-md-2 visible-sm visible-xs" id="smxsBanner" style="background: none; margin-top: 3px;">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=albslou-20&o=1&p=26&l=ur1&category=amazonhomepage&f=ifr" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
    <div class="col-xs-12 col-md-2 visible-sm visible-xs" id="smxsBanner">
        <div class="row">
            <div class="col-md-12", id="rightBanner1">
                <h4>Friday's</h4>
                <h5>$2 Coors Light Bottles</h5>
            </div>
            <div class="col-md-12", id="rightBanner1">
                <h4>Saturday's</h4>
                <h5>$2.50 Yuengling drafts [16oz]</h5>
            </div>
            <div class="col-md-12", id="rightBanner1">
                <h4>Sunday's</h4>
                <h5>$3 Blue Moon</h5>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2 visible-sm visible-xs" id="smxsBanner" style="background: none; margin-top: 3px;">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=albslou-20&o=1&p=42&l=ur1&category=amazonhomepage&f=ifr" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
    <div class="col-xs-3 col-md-2 hidden-xs hidden-sm" id="rightLarge">
        <div class="col-md-12", id="rightBanner1">
            <h4>Friday's</h4>
            <h5>$2 Coors Light Bottles</h5>
        </div>
        <div class="col-md-12", id="rightBanner1">
            <h4>Saturday's</h4>
            <h5>$2.50 Yuengling drafts [16oz]</h5>
        </div>
        <div class="col-md-12", id="rightBanner1">
            <h4>Sunday's</h4>
            <h5>$3 Blue Moon</h5>
        </div>
        <div class="col-md-12", id="rightBanner1">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=albslou-20&marketplace=amazon&region=US&placement=B004A29QF4&asins=B004A29QF4&linkId=&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066C0&bg_color=000000"></iframe>
        </div>
    </div>
    
</div>
<div class="row"></div>
<div class="col-lg-12", id="foot">
    <h5>Website by <a href="http://www.creativemonsterconsulting.com" target="_blank" title"Creative Monster Consulting &diams; Pittsburgh">CMC,LLC.</a></h5>
</div>
   <!--  
   div(class="col-xs-3 col-md-2 hidden-xs hidden-sm" id="leftLarge")
     div.row

   div(class="col-lg-12", id="foot")
     h5
       | Website by <a href="http://www.creativemonsterconsulting.com">CMC,LLC.</a> -->




<!-- <section data-ng-controller="HomeController">
    <h1 class="text-center">THANK YOU FOR DOWNLOADING MEAN.JS</h1>
    <section>
        <p>
            Before you begin we recommend you read about the basic building blocks that assemble a MEAN.JS application:
        </p>
        <dl>
            <dt>MongoDB</dt>
            <dd>
                Go through <a target="_blank" href="http://mongodb.org">MongoDB Official Website</a> and proceed to its <a target="_blank" href="http://docs.mongodb.org/manual/">Great Manual</a>, which should help you understand NoSQL and MongoDB better.
            </dd>
            <dt>Express</dt>
            <dd>
                The best way to understand Express is through its <a target="_blank" href="http://expressjs.com"> Official Website</a>, particularly <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a>; you can also go through this <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow Thread</a> for more resources.
            </dd>
            <dt>AngularJS</dt>
            <dd>
                Angular's <a target="_blank" href="http://angularjs.org">Official Website</a> is a great starting point. You can also use <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a>, and the <a target="_blank" href="https://egghead.io/">Egghead Videos</a>.
            </dd>
            <dt>Node.js</dt>
            <dd>
                Start by going through <a target="_blank" href="http://nodejs.org">Node.js Official Website</a> and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">StackOverflow Thread</a>, which should get you going with the Node.js platform in no time.
            </dd>
        </dl>
        <p class="alert alert-info">
            When you're done with those resources and feel you understand the basic principles continue to the <a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>.
        </p>
        <br>
        <br>Enjoy &amp; Keep Us Updated,
        <br>The MEAN.JS Team.
    </section>
</section> -->