<img class="bg", src="/modules/core/img/draftslide.jpg">

<!-- page header -->
<div class="row">
    <div class="col-md-8 col-md-offset-2", id="wrap">
        <div class="col-lg-3 pull-right hidden-xs", id="nestedHours">
            <h4>Open Daily</h4>
            <p>11 am - 2 am</p>
            <a href="https://www.google.com/maps/place/Albert's+Lounge/@40.397765,-80.036013,17z/data=!3m1!4b1!4m2!3m1!1s0x8834f719eee4d503:0x1bb82d2d1982dc4e", target="_blank", title="Google Map">
            <i class="fa fa-map-marker"></i> MAP</a>
        </div>

    <span itemscope itemtype="http://schema.org/LocalBusiness" itemref="_openingHoursSpecification8 _url12">
        <h1 class="mainTitle">
        <span itemprop="name">Albert's Lounge</span>&nbsp;
            <a href="https://www.facebook.com/alberts.dormont" target="_blank"><i class="fa fa-facebook">&nbsp;</i></a>&nbsp;
            <a href="https://twitter.com/AlbertsLounge"><i class="fa fa-twitter" target="_blank"></i></a>
        </h1>
        <address>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">2856 Broadway Avenue</span>, 
                <span itemprop="addressLocality">Pittsburgh</span>, 
                <span itemprop="addressRegion">PA</span> 
                <span itemprop="postalCode">15216</span>&nbsp;&nbsp;
            </span>
            <a href="tel:+14125318774"><i itemprop="telephone" class="fa fa-phone-square">&nbsp; (412) 531-8774</i></a>
        </address>
    </span>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
    <iframe src="
//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetAdHtml&ID=OneJS&OneJS=1&banner_type=setandforget&campaigns=primeent&placement=assoc_banner_placement_default&region=US&marketplace=amazon&tracking_id=albslou-20&ad_type=banner&height=125&width=125&linkid=MVOWHECGSFDO3WY5&f=ifr
" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        <!-- <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=albslou-20&o=1&p=21&l=ur1&category=kitchen&banner=16YJ90NQST9G4GR8SDG2&f=ifr" width="auto" height="110" scrolling="no" marginwidth="0" frameborder="0"></iframe> -->
    </div>
</div>


<!-- central Content -->
<div class="row">

    <!-- medium -->   
    <section class="col-xs-3 col-md-2 hidden-xs hidden-sm leftLarge">
        <div class="row" ng-controller="dailySpecialsCtrl">
            <div class="col-md-12 leftBanner1" ng-repeat="special in specials">
                <h4>{{special.day}}</h4>
                <h5>{{special.offer}}</h5>
                <hr>
            </div>
        </div>
    </section>

    <!-- picture carousel, xs + md -->
    <section class="col-xs-12 col-md-8", ng-controller="CarouselDemoCtrl" id="picsCarousel">
        <carousel id="carousel" interval="myInterval">
            <slide id="slide" ng-repeat="slide in slides" active="slide.active">
                <img id="imgSlides" ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption"></div>
            </slide>
        </carousel>
        <section class="col-md-12 visible-md belowCarousel">
            <h2>Fresh Growlers</h2>
            <h3>Steps from Potomac Ave train station</h3>
        </section>
        <section class="col-lg-12 visible-lg belowCarousel">
            <h4>Steps from the Potomac Ave train station in Dormont</h4>
            <h5>Fresh Growlers &diams; 20+ Drafts &diams; TV's &diams; Full-liquor bar</h5>
        </section>
    </section>



    <!-- days specials, xs + sm -->
    <section class="col-xs-12 col-md-2 visible-sm visible-xs smxsBanner">
        <div class="row" ng-controller="dailySpecialsCtrl">
            <div class="col-md-12 leftBanner1" ng-repeat="special in specials">
                <h4>{{special.day}}</h4>
                <h5>{{special.offer}}</h5>
                <hr>
            </div>
        </div>
    </section>

    <!-- mobile ad, medium banner, sm + xs -->
    <aside class="col-xs-12 col-md-2 visible-sm visible-xs smxsBanner" style="">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=albslou-20&o=1&p=26&l=ur1&category=amazonhomepage&f=ifr" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </aside>

    <!-- mobile ad, small banner, sm + xs -->
    <aside class="col-xs-12 col-md-2 visible-sm visible-xs smxsBanner" style="background: none; margin-top: 3px;">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=albslou-20&o=1&p=42&l=ur1&category=amazonhomepage&f=ifr" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </aside>

    <!-- mobile ads on lg and md -->
    <aside class="col-xs-3 col-md-2 hidden-xs hidden-sm rightLarge">
        <div class="col-md-12 rightBanner1">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=albslou-20&marketplace=amazon&region=US&placement=B004A29QF4&asins=B004A29QF4&linkId=&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066C0&bg_color=000000"></iframe>
        </div>
        <div class="col-md-12 rightBanner1">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=albslou-20&marketplace=amazon&region=US&placement=B00BQ77PSG&asins=B00BQ77PSG&linkId=&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066C0&bg_color=000000"></iframe>
        </div>
    </aside>
    
</div>

<!-- footer -->
<div class="row"></div>
<div class="col-lg-12 foot row" ng-controller="steelersScheduleCtrl">
    <h5 class="CMClink">Website by <a id="_url12" itemprop="url" href="http://www.creativemonsterconsulting.com" target="_blank" title"Creative Monster Consulting &diams; Pittsburgh">CMC,LLC.</a></h5>

    <div class="col-md-12 espnTicker" align="center">
        <iframe src="http://espn.go.com/bottomline/espnewsbottomlinebasic.html" width="640" height="48" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </div>
   

    <hr>
    
    <section class="col-md-8 trainStopCallout" align="left">
        <h4>Headed into the game?&nbsp;&nbsp;&nbsp;  PIRATES | STEELERS | PENGUINS | RIVERHOUNDS</h4>
        <h2 align="center">Take the Train from Albert's Lounge!</h2>
        <img src="/modules/core/img/trainad.png">
        <div class="trainContent">
            <p><address>2856 Broadway Avenue, Pittsburgh, PA 15216</address> 
            By TRAIN: <b>42 South Hills Village,  Potomac Avenue stop.</b>
            <br>
            We are in Dormont at the corner of Broadway and Potomac Avenue, steps from the Potomac Avenue train station.  
            <br>
            <br>
            Make us your pre-game stop and ride safely into the city via public transportation.  We are directly across from the Cogo's.         
            <br>
            <br>
            Can't stay long?  Take home a Gallon-sized Growlers of fresh draft beer.
            </p>
        </div>
    </section>

    <!-- steeler schedule -->
    <aside class="col-md-4" align="center">
        <div class="col-md-11 footballCallout">
        <h6><b><i>ARE YOU READY FOR</i></b></h6>
        <h4>STEELER FOOTBALL !</h4>
        <div ng-repeat="item in items">
            <a href="{{item.url}}">{{item.title}}</a><img src="{{item.img}}" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/><br>
        </div> 
        <table align="center">
            <thead>
                <tr>
                    <td>Wk</td>
                    <td>Date</td>
                    <td>Opponent</td>
                    <td>Time (ET)</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in games" >
                    <td class="{{game.where}}">{{game.wk}}</td>
                    <td class="{{game.where}}">{{game.date}}</td>
                    <td class="{{game.where}}">{{game.opponent}}</td>
                    <td class="{{game.where}}">{{game.time}}</td>
                </tr>
            </tbody>
        </table>
        <p><i>Home games in yellow</i></p>
        </div>
    </aside>

    <!-- beerLogos -->
<!--     <aside class="col-md-12 beerLogos">
    <ul>
        <li><img src="/modules/core/img/beers/atwater.png"></li>
        <li><img src="/modules/core/img/beers/bluemoon.png"></li>
        <li><img src="/modules/core/img/beers/harpoon.png"></li>
        <li><img src="/modules/core/img/beers/magichat.png"></li>
        <li><img src="/modules/core/img/beers/palm.png"></li>
        <li><img src="/modules/core/img/beers/penn.png"></li>
        <li><img src="/modules/core/img/beers/reds.png"></li>
        <li><img src="/modules/core/img/beers/sn.png"></li>
        <li><img src="/modules/core/img/beers/southerntier.png"></li>
        <li><img src="/modules/core/img/beers/yeungling.jpg"></li>
        <li><img src="/modules/core/img/beers/hg.jpg"></li>
        <li><img src="/modules/core/img/beers/hell.jpg"></li>
        <li><img src="/modules/core/img/beers/founders.jpg"></li>
    </ul>
</aside> -->
</div>
