body {background-color:}

.bg { min-height: 100%; min-width: 1024px; width: 100%; height: auto; position: fixed; top: 0; left: 0;}

#wrap {margin-top: 5px;	background: rgba(0, 0, 0, .4); /* rgba(200, 54, 54, 0.5); */color: #FF0700;border: 2px groove #FF0700;}

h2 {vertical-align: middle;}


.mainTitle {font-family: 'Gilda Display', serif;}

#nestedHours {background: rgba(0, 0, 0, .8);vertical-align: middle;text-align: center;margin: 20px;}
#nestedHours h4 {margin-top: 4px;font-family: 'Allura', cursive;}
#nestedHours p {margin: 0px;}

.leftLarge {/* border: 2px groove #FF0700; */height: inherit; background: black;}
.leftLarge h4{font-family: 'Allura', cursive; color: white; text-align: center;}
.leftLarge h5{color: #FF0700; text-align: center;}
.leftLarge h6 {font-family: 'Gilda Display', serif;}

.smxsBanner .leftBanner1 { margin: 12px;}
.leftBanner1 {background-color:#000000;color: #fff;margin: 1px;}


.rightLarge {height: auto;}
.rightLarge h4{font-family: 'Allura', cursive; color: white; text-align: center; }
.rightLarge h5{color: #FF0700; text-align: center;}
.rightLarge h6 {font-family: 'Gilda Display', serif;}

.smxsBanner .rightBanner1 { background-color:#000000; margin: 12px;}
.rightBanner1 {background-color:#000000;color: #fff;margin: 1px;}

.smxsBanner{background-color:#000000;margin: 1px;text-align: center; background: none; margin-top: 3px;}
.smxsBanner h4 {font-family: 'Allura', cursive; color: #FF0700;}
.smxsBanner h6 {font-family: 'Gilda Display', serif;}


#picsCarousel {padding: 8px;background-color: rgba(0, 0, 0, .4);border-top: 2px groove #FF0700; border-right: 2px groove #FF0700;border-left: 2px groove #FF0700;border-bottom: 2px groove #FF0700;}
.belowCarousel {background-color: black; color: white; text-align: center;}


#bottomAd1 {margin-top: 5px; height: 60px;
	border-top: 2px groove #FF0700; border-left: 2px groove #FF0700; border-bottom: 2px groove #FF0700;
	background: rgba(0, 0, 0, .4);
	text-align: center;vertical-align: middle;
}
#bottomAd2 {margin-top: 5px; height: 60px;
	border-top: 2px groove #FF0700; border-bottom: 2px groove #FF0700;
	background: rgba(0, 0, 0, .4);
	text-align: center;vertical-align: middle;
}
#bottomAd3 {margin-top: 5px; height: 60px;
	border-top: 2px groove #FF0700; border-right: 2px groove #FF0700; border-bottom: 2px groove #FF0700;
	background: rgba(0, 0, 0, .4);
	text-align: center;vertical-align: middle;
}

.foot {font-family: 'Gilda Display', serif; color:black; margin-bottom: 20px;}
.foot h5 {text-align: center; }

.CMClink {margin-top: 6px; margin-bottom:15px;}
.espnTicker {margin-bottom: 20px;}

.foot a {color:#FF0700; text-shadow: 1px 1px #000000;}
.foot a:hover {color:white;}

.trainStopCallout {background: rgba(0, 0, 0, .8); padding: 14px; color: white; }/* color: #565C5C; border: 1px solid white;*/
.trainStopCallout h2 {color: white;} /* #428bca */
.trainStopCallout h4 {background: rgba(250, 250, 250, .8); color: black; padding: 12px; border: 1px solid #428bca;}
.trainStopCallout h6 {font-style: italic;}
.trainStopCallout img { margin: 5px; }
.trainContent {background: black; padding: 30px;}

.footballCallout {background: rgba(250, 250, 250, .6);padding: 14px;  margin: 5px; }
.footballCallout a {color:#000000; text-shadow: 1px 1px #FEC10D;}
.footballCallout a:hover {color: black;}
.footballCallout h4 {background: rgba(0, 0, 0, 1); padding: 14px; color: #FEC10D; border: 1px solid #FEC10D;}
.footballCallout table {border: 1px solid black;}
.footballCallout thead {background: rgba(0, 0, 0, 1);color: white; font-size: 10px; text-align: center;}
.footballCallout tbody {font-size: 10px;}
.home {background: rgba(254, 193, 13, 1); color: black; font-weight: 800;}



.beerLogos ul {list-style: none; }
.beerLogos ul li { display: inline-block; margin: 2px;}



